$rosewater: #f5e0dc;
$flamingo: #f2cdcd;
$pink: #f5c2e7;
$mauve: #cba6f7;
$red: #f38ba8;
$maroon: #eba0ac;
$peach: #fab387;
$yellow: #f9e2af;
$green: #a6e3a1;
$teal: #94e2d5;
$sky: #89dceb;
$sapphire: #74c7ec;
$blue: #89b4fa;
$lavender: #b4befe;
$text: #d6c3b6;
$subtext1: #bac2de;
$subtext0: #a6adc8;
$overlay2: #9399b2;
$overlay1: #7f849c;
$overlay0: #6c7086;
$surface2: #585b70;
$surface1: #45475a;
$surface0: #313244;
$base: #181512;
$mantle: #181825;
$crust: #11111b;

* {
  all: unset;
}

window {
  font-family: "Iosevka Nerd Font", monospace;
  background-color: $base;
}

.workspaces {
  margin: 3px;
}

.icon {
  margin: 0 5px;
  color: $text;
}

.icon.single-icon {
  margin: 0;
}

.mic {
  .icon.running {
    color: $green;
  }
}

.workspaces {
  .name {
    background-color: $base;
    padding-right: 2px;
  }
}

.workspaces.empty:hover,
.workspaces.focused:hover,
.workspaces.occupied:hover,
.workspaces.urgent:hover {
  background-color: lighter($base);

  .name {
    color: darker($red);
  }
}

.workspaces.empty {
  .name {
    color: $surface1;
  }
}

.workspaces.focused {
  .name {
    color: $peach;
  }
}

.workspaces.occupied {
  .name {
    color: $peach;
  }
}

.workspaces.urgent {
  .name {
    color: $red;
  }
}

.battery,
.time,
.date,
.tray,
.speakers,
.mic,
.wifi,
.power {
  color: $text;
  font-size: 16px;
}

.window-title {
  .title {
    color: $text;
    font-size: 16px;
  }
}

.tab-bar {
  padding-left: 20;
  padding-right: 20;

  .tab.active,
  .tab.inactive {
    border-width: 1px;
    border-radius: 10px;
    border-style: solid;
    padding-left: 3px;
    padding-right: 10px;
    .tab.title {
      font-size: 16px;
    }
  }

  .tab.active {
    border-color: $peach;
    .tab.title {
      color: $flamingo;
    }
  }

  .tab.active:hover,
  .tab.inactive:hover {
    background-color: lighter($base);
    .tab.title {
      color: darker($red);
    }
  }

  .tab.inactive {
    border-color: $surface2;
    .tab.title {
      color: $text;
    }
  }
}

.battery {
  .icon.normal {
    color: $green;
  }

  .icon.low {
    color: $yellow;
  }

  .icon.critical {
    color: $red;
  }

  .bat-charging-symbol {
    font-size: 10px;
  }
}

.tooltip {
  background-color: $surface0;
  color: $text;
  font-size: 16px;
}

.camera {
  .icon.connected {
    color: $green;
  }
}

.icon.muted {
  color: $red;
}

.mute-toggle:hover {
  .icon.single-icon {
    color: darker($red);
    background-color: lighter($base);
  }
}

.speakers {
  .icon:hover {
    color: darker($red);
    background-color: lighter($base);
  }
}

.wifi {
  .icon.connected {
    color: $green;
  }
}

.tray image {
  -gtk-icon-palette:
    success $text,
    warning $yellow,
    error $red;
  -gtk-icon-style: symbolic;
}

scale trough {
  background-color: $crust;
  border-radius: 2px;
  min-height: 5px;
  min-width: 50px;
}

scale trough highlight {
  background-color: $text;
  border-radius: 2px;
}

scale.over trough highlight {
  background-color: $peach;
  border-radius: 2px;
}

.power:hover {
  color: darker($red);
}

.power-layout-box {
  background-repeat: no-repeat;
  background-size: contain;
  padding: 5em;
}

.power-box {
  font-size: 35;
}

.power-box button:hover {
  border-radius: 0.4em;
  transition:
    200ms linear background-color,
    border-radius;
  background-color: lighter($base);
  color: darker($red);
}

.power-box button {
  padding: 0.4em;
  background-color: $base;
  color: $text;
}
